:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #0b2434;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

main {
  background: #f5f5f5;
  max-width: 800px;
  height: 400px;
  border-radius: 10px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.title {
  font-size: 40px;
  margin: 0;
}

.instructions {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}

.roll__dice {
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 6px;
  background-color: #5035ff;
  color: white;
  font-size: 1.2rem;
  font-family: "Karla", sans-serif;
  cursor: pointer;
}

.roll__dice:focus {
  outline: none;
}

.roll__dice:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.dice__container {
  display: grid;
  gap: 20px;
  padding: 15px 10px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.die__face {
  height: 50px;
  width: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
  margin: 0 auto;
}

.die__num {
  font-size: 2rem;
}

@media (max-width: 1200px) {
  main {
    height: 400px;
  }
  .dice__container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 800px) {
  main {
    height: 450px;
  }
  .dice__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  main {
    height: 500px;
  }
  .dice__container {
    grid-template-columns: repeat(2, 1fr);
  }
}